body {
  background-color:#ffc2c2;
  color:#db2777
}

.fade-in {
  animation:fadeSlideIn 300ms forwards;
}

.fade-in-two {
  animation:fadeSlideInTwo 300ms forwards;
}

.fade-out {
  animation:fadeSlideOut 300ms forwards;
}

.fade-in-input {
  animation:fadeSlideIn 300ms forwards;
  animation-delay:200ms
}

.fade-in-number {
  animation:fadeIn 300ms forwards;
}

.fade-out-number {
  animation:fadeOut 300ms forwards;
}

.timer-anim {
  animation:timerText 500ms forwards;
}

.num-float {
  animation:numFloat 3s linear infinite;
}

@keyframes fadeIn {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes fadeOut {
  from { opacity:1 }
  to { opacity:0 }
}

@keyframes fadeSlideIn {
  from {
    opacity:0;
    transform:translateY(5px);
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}

@keyframes fadeSlideInTwo {
  from {
    opacity:0;
    transform:translateY(-5px);
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}

@keyframes fadeSlideOut {
  from {
    opacity:1;
    transform:translateY(0);
  }
  to {
    opacity:0;
    transform:translateY(-5px)
  }
}

@keyframes timerText {
  from {
    opacity:1;
    transform:translateX(0);
    visibility:visible;
  }
  to {
    opacity:0;
    transform:translateX(30px);
    visibility:hidden;
  }
}

@keyframes numFloat {
  0% {
    transform:translateY(20px)
  }
  25% {
    transform:translateY(0px)
  }
  50% {
    transform:translateY(-20px)
  }
  75% {
    transform:translateY(0px)
  }
  100% {
    transform:translateY(20px)
  }
}